.preview-button {
        background: var(--pink);
        color: var(--white);
        width: 40%;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: all 0.3s;
}

.preview-button:hover {
        filter: brightness(1.2) hue-rotate(25deg);
        transform: scale(1.1);
        box-shadow: 0 12px 12px rgba(0.8, 0.8, 0.8, 0.4);
}

.form-control:disabled {
        background-color: var(--secondary-purple) !important;
}

.split-div .default-btn {
        margin-top: 0.5rem;
}

.form-check-input[disabled],
.form-check-input[disabled]~.form-check-label {
        opacity: 1 !important;
}

img {
        max-width: 100%;
        max-height: 100%;
}

#add-user-permission {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: var(--secondary-purple);
        border: 1px solid var(--light-purple);
        color: var(--white);
        border-radius: 4px;
        box-shadow: 0 0 1px 1px var(--neutral-gray);
}

.modal-user-management-options {
        display: inline-flex;
        box-sizing: border-box;
        background-color: var(--secondary-purple);
        border: 1px solid var(--neutral-gray);
        border-radius: 5px;
        padding: 8px 12px;
        margin: 5px;
        color: white;
        user-select: none;
        transition: background-color 0.3s, border-color 0.3s;
}

.modal-user-management-options:hover {
        background-color: color-mix(in srgb, var(--primary) 50%, transparent);
        cursor: pointer;
}

input[type="radio"]:checked+.modal-user-management-options {
        background-color: var(--lavender-blue);
}

#existing-users-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
}

.account-listing {
        position: relative;
        background-color: var(--secondary-purple);
        text-align: center;
        align-content: center;
        width: 200px;
        height: 75px;
        border-radius: 10px;
        margin: 15px;
}

.account-listing .acc-email {
        color: var(--neutral-gray);
}

.account-listing .acc-del {
        position: absolute;
        padding: 0px 7px;
        top: 5px;
        right: 7px;
}

#toast-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        gap: 10px;
}

.toast {
        background: var(--bg-light);
        color: var(--white);
        padding: 12px 20px;
        border-radius: 8px;
        border-left: 4px solid var(--primary);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 250px;
        animation: slideIn 0.5s ease-in-out forwards;
        font-family: sans-serif;
}

.toast-exit {
        animation: fadeOut 0.5s ease forwards;
}
